html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #D8D8D8;
}

h1, h2 {
	font-size: 60px;
	text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

#inputfield {
  display: flex;  
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

#inputfield  div {
	width: 100px;
	-ms-flex: 1;  /* IE 10 */  
	flex: auto;
	text-align: center;
	align-items: center;
	font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
	font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */  
}

#rollbutton {	
	align-items: center;
	text-align: center;
}


label{	
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Roboto Slab', serif; /* this should be the rest of the output you got from Google fonts */
}
